      
.sidebar {
  height: 100%;
  width: 160px;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: #FFF;
  }
  .sidebar .dashboard {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    width:160px;
    height:60px;
    display: flex;
    position: relative;
    font-weight:700;
    top:70px;
    right: 2px;
    align-items: top;
   
  
  }
.sidebar .dashboard img{
position: relative;
width:30px !important;
top: -10px !important;
right:-1px;

}
.sidebar .dashboard a{
  font-size: 20px ;
  font-weight:700;
  position:relative;
  right:-10px;
  top:16px;
  color:#000;
  text-decoration: none;
}
.sidebar .dashboard:hover{
  background:slateblue;
}
.sidebar .batepapo{
  position:relative;
  top: 60px;
  width:164px;
  height:60px;
}
.sidebar .batepapo img{
  position: relative;
  width:30px !important;
  top: -10px !important;
}
.sidebar .batepapo a{
  font-size: 20px ;
  font-weight:700;
  position:relative;
  right:-5px;
  top:-10px;
  text-decoration: none;
  color:#000;
}
.sidebar .batepapo:hover{
  background:slateblue;
}
.sidebar .atendentes{
  position:relative;
  top:50px;
  width:164px;
  height:60px;
}
.sidebar .atendentes img{
  position: relative;
  width:30px !important;
  top: -10px !important;
}
.sidebar .atendentes a{
  font-size: 20px ;
  font-weight:700;
  position:relative;
  right:-6px;
  top:-4px;
  text-decoration: none;
  color:#000;
}
.sidebar .atendentes:hover{
  background:slateblue;
}


.sidebar .leaders{
  position:relative;
  top:40px;
  width: 164px;
  height:60px;
  
  
}
.sidebar .leaders img{
  position: relative;
  width:30px !important;
  top: -10px !important;
}
.sidebar .leaders a{
  font-size: 20px ;
  font-weight:700;
  position:relative;
  right:-10px;
  text-decoration: none;
  top:-5px;
  color:#000
}
.sidebar .leaders:hover{
  background:slateblue;
}
.sidebar .relatorios{
  position:relative;
  top:40px;
  width:160px;
  height:60px;
}

.sidebar .relatorios img{
  position: relative;
  width:30px !important;
  top: -10px !important;
  right: 2px;
}
.sidebar .relatorios a{
  font-size: 20px ;
  font-weight:700;
  position:relative;
  right:-8px;
  text-decoration: none;
  color:#000;
  top:-9px
}
.sidebar .relatorios:hover{
  background:slateblue;
}
.sidebar .chatbot{
  position:relative;
  top: 30px;
  width:160px;
  height:60px;
}
.sidebar .chatbot img{
  position: relative;
  width:30px !important;
  top: -10px !important;
}
.sidebar .chatbot a{
  font-size: 20px ;
  font-weight:700;
  position:relative;
  right:-10px;
  top:-10px;
  text-decoration:none;
  color:#000;
}
.sidebar .chatbot:hover{
  background:slateblue;
}
.sidebar .logout{
  position:relative;
  top:-193px;
}
.sidebar .logout .btnlogout{
  background-color: #fff;
  border: 1px solid #FFF;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 19px;
  height:10px;
  display: block;
  

}
.sidebar .logout {
  position: relative;
  top:-10px;
}
.sidebar .logout .btnlogout  img{
  display: flex;
  position: relative;
  width: 20px !important;
  top: -30px !important;
  right:-1px;
}
.sidebar .logout .btnlogout{
  display: flex;
  position:relative;
  top:200px;
  width:100px;
  height:50px;
}

.sidebar .logout .btnlogout:hover{
  background: #f1f1f1;
}
